Files/Settings/*.ini
Files/Logs/*.log
Files/Tools/Patching/flipscfg.bin
Files/Tools/cygdrive
**/Extracted/*.*
**/Custom Text/*.*
*.exe
!Files/Tools/*.exe
*.7z
*.htm
*.html
*.nes
*.sfc
*.smc
*.gbc
*.n64
*.v64
*.z64
*.wad
