Files/Settings/*.ini
Files/Logs/*.log
Files/Tools/Patching/flipscfg.bin
Files/Tools/cygdrive
Files/Games/Ocarina of Time/Extracted/*.bin
Files/Games/Ocarina of Time/Extracted/*.tbl
Files/Games/Ocarina of Time/Custom Text/*.bin
Files/Games/Ocarina of Time/Custom Text/*.tbl
Files/Games/Majora's Mask/Extracted/*.bin
Files/Games/Majora's Mask/Extracted/*.tbl
Files/Games/Majora's Mask/Custom Text/*.bin
Files/Games/Majora's Mask/Custom Text/*.tbl
*.exe
!Files/Tools/*.exe
*.7z
*.htm
*.html
*.nes
*.sfc
*.smc
*.gbc
*.n64
*.v64
*.z64
*.wad
