Patcher64+ Tool
Files/Temp
Files/Addons
Files/Settings/*.ini
Files/Logs/*.log
Files/Tools/Patching/flipscfg.bin
Files/Tools/cygdrive
Files/Games/**/Extracted
Files/Games/**/Custom Text/*.*
Files/Games/**/Editor/*.*
*.exe
!Files/Tools/*.exe
*.7z
*.htm
*.html
*.nes
*.sfc
*.smc
*.gbc
*.n64
*.v64
*.z64
*.wad
*.bak
